@import "./node_modules/bootstrap/dist/css/bootstrap.css";

$main-color:red;
$secondary-color:blue;

h1{
    color:$main-color;
}

h2{
    @extend h1;
}

a{
    &:hover{
        color:$secondary-color;
    }
}